#wineSummaries{
	width: 400px;
	float: left;
}

#wineSummaries li{
	padding: 5px;
	border-bottom: 1px solid gray;
}

#wineSummaries li:hover{
	background: lightskyblue;
}

#components{
	width: 250px;
	float: left;
	text-align:center
}

select {
	width: 200px;
	height: 200px;
}

#wineDetail{
	float: left;
	width: 400px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	
	h2{
		font-size: 1.4em;
		font-weight: bold;
	}
	h3{
		font-size: 1.2em;
		font-weight: bold;
	}
}