<div data-role="fieldcontain">
	<label for="formPurchaseDate">Date</label>
	<input id="formPurchaseDate" type="date"/>
	
	<label for="formPurchasePrice">Price ($)</label>
	<input id="formPurchasePrice" class="currency" type="number" data-clear-btn="true" pattern="^\d+(\.|\,)\d{2}$"/>
	
	<label for="formPurchasePer" data-clear-btn="true">Unit</label>
	<input id="formPurchasePer" list="priceTypes" data-clear-btn="true"/>
	<datalist id="priceTypes">
		<option value="Bottle" />
		<option value="Glass" />
		<option value="Case" />
	</datalist>
</div>

<a href="#wineDetail" data-rel="back" data-role="button" data-inline="true" class="formClose">Close</a>
<a href="#wineDetail" data-role="button" data-inline="true" class="formSubmit">Submit</a>
