
<label for="formPurchaseDate">Purchase Date</label><br/>
<input id="formPurchaseDate" type="date"/><br/>

<label for="formPurchasePrice">Price</label><br/>
$<input id="formPurchasePrice" type="number"/><br/>

<label for="formPurchasePer">Purchase Per</label><br/>
<input id="formPurchasePer" list="priceTypes"/>
<datalist id="priceTypes">
	<option value="Bottle" />
	<option value="Glass" />
	<option value="Case" />
</datalist>

<br/>
<a href="#wineDetail" data-rel="back" data-role="button" data-inline="true" class="formClose">Close</a>
<button class="formSubmit">Submit</button>
