<!-- <li wineid="{{wineId}}">  -->
	<a href="{{detailPage}}" data-transition="slide">	
		<!-- <img src="/getImage?wineId={{wineId}}" class="floatLeft" /> -->
		<p>
			<span class='vineyard' vineyardId="{{vineyardId.vineyardId}}">{{vineyardId.vineyard}}</span>
			<span class='vintageYear'> ({{vintageYear}})</span>
		</p>
		<p>
			<span class="brand">{{brandId.brandName}}</span>
		</p>
		<p class='{{varietal.type}}'>
			 <span class='varietal' varietalId='{{varietal.varietalId}}'>{{varietalId.varietal}} 
			 	<span class='varietalType'> ({{varietalId.type}})</span>
			 </span> 
		</p>
		<p>
			{{regionId.region}}
		</p>					
		<p>
			Avg. Price: <span class='price avgPrice'>{{avgPrice}}</span> / <span class='priceUnit'>{{pricePer}}</span>
		</p>
		<p>List Price: {{money listPrice}}</p>
		<p>Avg Rating: {{formatRating avgRating}}</p>
		<p class="{{checkInventory qtyOnHand}}">
			Bottles On Hand: <span class='inventory'>{{qtyOnHand}}</span>
		</p>
	</a>
<!-- </li> -->