{{#if this}}
	{{#each this}}
		<li data-purchaseId="{{purchaseId}}">			
			<p class="date">
				{{purchaseDate}}
			</p>
			
			<p>
				<span class="price" >{{money price}}</span> 
				{{#if pricePer}}
					/ {{pricePer}}
				{{/if}} 		
			</p>
			<p>
				Qty: {{qtyPurchased}}
			</p>
			<p class="location">
			{{#if location}}
				{{location.locationName}}
				{{#if location.locationType.attributes.locationType}}
					({{location.locationType.attributes.locationType}})
				{{/if}}
			{{/if}}
			{{#if location.locationCity}}
				{{location.locationCity}}
			{{/if}}
			{{#if location.locationState}}
				, {{location.locationState}}
			{{/if}}
			</p>
		</li>
	{{/each}}
{{else}}
	<h3>No Purchase History</h3>
{{/if}}