{{#if purchases}}
	{{#each purchases}}
		<li data-purchaseId="{{purchaseId}}">			
			<p class="date">
				{{purchaseDate}}
			</p>
			
			<p>
				<span class="price" >{{money price}}</span> / {{pricePer}} 		
			</p>
			<p>
				Qty:&nbsp;{{qtyPurchased}}
			</p>
			<p class="location">
			{{#if location}}
				{{location.locationName}}&nbsp;({{location.locationType.locationType}})<br/>
			{{/if}}
				{{location.locationCity}} {{#if location.locationCity}},&nbsp;{{/if}}{{location.locationState}}
			</p>
		</li>
	{{/each}}
{{else}}
	<h3>No Purchase History</h3>
{{/if}}