<!-- <script id="t_WineDetail" src="/templates/WineDetail.html" type="text/x-handlebars-template"> -->
<img class="bottleImg" alt="bottle" data-wineId="{{wineId}}" src="/getImage?wineId={{wineId}}" />

<h2>
	<span class="vineyard" data-vineyardId="{{vineyard.vineyardId}}">{{vineyard.vineyard}}</span>
	{{#if vintageYear}}
		<span class="vinetageYear">&nbsp;({{vintageYear}})</span>
	{{/if}}	
</h2>
<p class="brand">{{brand.brandName}}</p>

<p class="{{varietal.type}}">
	<span class="varietal" data-varietalId="{{varietal.varietalId}}">{{varietal.varietal}}</span><span class="varietalType">&nbsp;({{varietal.type}})</span>
</p>

{{#if region.region}}
<p class="region">
	{{region.region}}
	{{#if region.subRegion}}
		&nbsp;-&nbsp;<span class="subRegion">{{region.subRegion}}</span>
	{{/if}}	
</p>
{{/if}}

<p class="rating maxRating">
	Max Rating:&nbsp;
	{{#if maxRating}}
		{{formatRating maxRating}}
	{{else}}
		N/A
	{{/if}}
</p>

<p class="rating minRating">
	Min Rating:&nbsp;
	{{#if minRating}}
		{{formatRating minRating}}
	{{else}}
		N/A
	{{/if}}	
</p>

<p class="rating avgRating">
	Avg Rating:&nbsp;
	{{#if avgRating}}	
		{{formatRating avgRating}}
	{{else}}
		N/A
	{{/if}}	
</p>

<p class="price avgPrice">
	Avg Price:&nbsp;
	{{#if avgPrice}}
		{{money avgPrice}}
	 {{else}}
		N/A
	{{/if}}
</p>

<p class="price listPrice">
	List Price:&nbsp;
	{{#if listPrice}}
		{{money listPrice}}
	{{else}}
		N/A
	{{/if}}	
</p>

<p class="{{checkInventory qtyOnHand}}">
	Bottles On Hand:&nbsp;<span class="inventory">{{qtyOnHand}}</span>
</p>

<button class="addTastingNoteBtn">Add Tasting Note</button>
<button class="addPurchaseBtn">Add Purchase</button>

<br class="clear"/>
<h3>Purchases</h3>
<ul class="purchaseList"></ul><hr/>

<h3>Tastings</h3>
<ul class="tastingNoteList" ></ul>


<div class="createItemPopup"></div>
<div class="ajaxLoader wineDetail"><img src="/images/gifs/ajax-loader.gif"/></div>
<!-- </script> -->