<a href="#wineDetail={{wineId}}" data-transition="slide" class="wineSummary">	

	<!-- <img src="/getImage?wineId={{wineId}}" class="floatLeft" /> -->
	<p>
		<span class='vineyard' data-vineyardId="{{vineyard.vineyardId}}">{{vineyard.vineyard}}</span>
		{{#if vintageYear}}
			<span class='vintageYear'> ({{vintageYear}})</span>
		{{/if}}
	</p>
	<p>
		<span class="brand">{{brand.brandName}}</span>
	</p>
	<p class='{{varietal.type}}'>
		 <span class='varietal' data-varietalId='{{varietal.varietalId}}'>{{varietal.varietal}} 
		 	<span class='varietalType'> ({{varietal.type}})</span>
		 </span> 
	</p>
	<p>
		{{region.region}} 
		{{#if region.subRegion}}
			- {{region.subRegion}}
		{{/if}}
	</p>					
	<p>
		Avg. Price: 
		<span class='price avgPrice'> 
			{{#if avgPrice}}
				{{avgPrice}}</span> / <span class='priceUnit'>{{pricePer}}
			{{else}}
				N/A
			{{/if}}
		</span>
			
	</p>
	<p>List Price: 
		{{#if listPrice}}
			{{money listPrice}}
		{{else}}
			N/A
		{{/if}}
	</p>
	<p>Avg Rating: 
		{{#if avgRating}}
			{{formatRating avgRating}}
		{{else}}
			N/A
		{{/if}}
	</p>
	<p class="{{checkInventory qtyOnHand}}">
		Bottles On Hand: 
			{{#if qtyOnHand}}
				<span class='inventory'>{{qtyOnHand}}</span>
			{{else}}
				N/A
			{{/if}}
	</p>
	<div class="ajaxLoader"><img src="/images/gifs/ajax-loader.gif"/></div>
</a>
<!-- </script> -->