#appView li{
	border-bottom: 1px solid black;
	padding: 5px;
}

#appView li:last-of-type{
	border-bottom: 0px;
}

#appView li:hover{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #80B3FF 0%, #005D8A 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #80B3FF 0%, #005D8A 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #80B3FF 0%, #005D8A 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80B3FF), color-stop(1, #005D8A));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #80B3FF 0%, #005D8A 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #80B3FF 0%, #005D8A 100%);
}

#appView a{
	text-decoration: none;
	color: black;
}

